@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DinC";
    src: url("../assets/fonts/DinC.ttf") format("truetype");
    font-display: swap;
  }

  * {
    @apply text-inherit;
  }

  body {
    @apply text-primary-dark;
  }
}
