@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DinC";
    src: url("../assets/fonts/DinC.ttf") format("truetype");
    font-display: swap;
  }

  html {
    @apply overflow-hidden;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply absolute top-0 right-0 bottom-0 left-0 text-primary-dark overflow-auto;
    -webkit-overflow-scrolling: touch;
  }
}
